# Data configuration: Winnipeg Real Estate public data

In [1]:
from wpgdata.data import wpgdata_cfg

In [2]:
dcfg = wpgdata_cfg()
dcfg.data_save_path

PosixPath('/home/yutong.zhao/htmls/Winnipeg-real-estate-open-data/Winnipeg_real_estate_open_data')

### automatically download the full data files from website

In [3]:
if dcfg.data_validator(): 
    print('The dataset is complete in local')
else:
    dcfg.auto_download()

The dataset is complete in local

In [4]:
full_dict = dcfg.full_salebooks_urls()
for year in full_dict:
    print(year)
    for salebook in full_dict[year]: 
        print(salebook)

2012
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_1.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_2.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_3.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_4.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_5.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_6.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_7.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_8.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_9.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_market_region_10.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2012/sales_book_condominium.pdf
2014
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_1.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_2.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_3.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_4.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_5.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_6.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_7.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_8.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_9.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_market_region_10.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2014/sales_book_condominium.pdf
2016
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_1.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_2.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_3.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_4.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_5.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_6.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_7.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_8.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_9.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_market_region_10.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2016/sales_book_condominium.pdf
2018
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_1.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_2.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_3.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_4.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_5.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_6.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_7.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_8.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_9.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_market_region_10.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/sales_book_condominium.pdf
2021
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_1.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_2.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_3.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_4.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_5.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_6.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_7.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_8.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_9.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_market_region_10.pdf
https://assessment.winnipeg.ca/AsmtTax/pdfs/SelfService/2021/sales_book_condominium.pdf

In [5]:
path = dcfg.data_save_path / dcfg.pdf_filename()
pdfinfo = dcfg.pdf_to_str(fpath=path)

                                                                                  SALES         DATA        / DONNÉES              RELATIVES              AUX      VENTES
                      MARKET            REGION           1

                      MELROSE             (402)
                                                                                                                                                                                                                    Time   Adjust   Sale  Price
                      Property   Address                                                     Roll Number          Building   Type                         Sale  Year        Sale  Month          Sale  Price          Prix  de  vente  rajusté
                      Adresse    du  bien                                                    No  du  rôle         Type  de  bâtiment                     Ann.  vente        Mois   vente         Prix vente           en fonction   du  temps
                      417  MELROSE      AVE   W                                              09000310300          BI-LEVEL                                   2010                 1              $212,500                            $244,163
                      417  MELROSE      AVE   W                                              09000310300          BI-LEVEL                                   2011                12              $250,000                            $255,000
                      421  MELROSE      AVE   W                                              09000310500          ONE   &  1/2 STOREY                        2010                 6              $124,000                            $137,764
                      421  MELROSE      AVE   W                                              09000310500          ONE   &  1/2 STOREY                        2011                 4              $179,000                            $191,172
                      429  MELROSE      AVE   W                                              09000311500          ONE   STOREY                               2010                10              $172,000                            $189,028
                      431  MELROSE      AVE   W                                              09000312000          ONE   STOREY                               2010                 8                $90,000                             $99,450
                      436  MELROSE      AVE   W                                              09000017500          ONE   STOREY                               2011                 7              $149,900                            $157,395
                      441  MELROSE      AVE   W                                              09000313500          ONE   STOREY                               2011                 9              $194,500                            $201,891
                      512  MELROSE      AVE   W                                              09005568000          ONE   STOREY                               2010                11              $185,100                            $202,870
                      516  MELROSE      AVE   W                                              09005567500          ONE   STOREY                               2011                 4              $186,350                            $199,022
                      517  MELROSE      AVE   W                                              09005491500          ONE   &  1/2 STOREY                        2010                 1              $144,900                            $166,490
                      523  MELROSE      AVE   W                                              09005492500          ONE   STOREY                               2011                 8              $187,500                            $195,750
                      524  MELROSE      AVE   W                                              09005566000          ONE   STOREY                               2011                 2              $167,000                            $180,360
                      526  MELROSE      AVE   W                                              09005565500          ONE   STOREY                               2011                11              $195,000                            $200,070
                      535  MELROSE      AVE   W                                              09005495000          ONE   &  1/2 STOREY                        2010                 4              $137,000                            $154,262
                      600  MELROSE      AVE   W                                              09005555500          TWO    STOREY                              2012                 3              $195,000                            $195,585
                      608  MELROSE      AVE   W                                              09005554000          TWO    STOREY                              2011                 6              $190,000                            $200,640
                      618  MELROSE      AVE   W                                              09005552500          ONE   STOREY                               2010                 3              $200,000                            $226,800
                      700  MELROSE      AVE   W                                              09005543500          ONE   STOREY                               2011                 8              $246,500                            $257,346
                      223  PANDORA      AVE   E                                              09000102000          ONE   STOREY                               2010                 8              $136,000                            $150,280
                      225  PANDORA      AVE   E                                              09000101500          ONE   STOREY                               2012                 3              $144,000                            $144,432
                      229  PANDORA      AVE   E                                              09000100500          ONE   &  1/2 STOREY                        2010                 7              $151,000                            $167,308
                      309  PANDORA      AVE   E                                              09000116000          ONE   &  3/4 STOREY                        2011                 8              $148,000                            $154,512
                      327  PANDORA      AVE   E                                              09000112500          ONE   &  1/2 STOREY                        2010                 6              $198,000                            $219,978
                      329  PANDORA      AVE   E                                              09010260300          ONE   &  1/2 STOREY                        2010                 5              $157,000                            $175,526
                      333  PANDORA      AVE   E                                              09010260200          BI-LEVEL                                   2010                 7              $185,000                            $204,980
                      401  PANDORA      AVE   E                                              09000129500          ONE   STOREY                               2010                 6                $85,000                             $94,435
                      427  PANDORA      AVE   E                                              09000124600          TWO    STOREY                              2010                 8              $160,000                            $176,800
                      509  PANDORA      AVE   E                                              09000151000          ONE   STOREY                               2010                 6               $118,000                           $131,098
                      513  PANDORA      AVE   E                                              09000149100          TWO    STOREY                              2010                10              $125,000                            $137,375
                      119  PANDORA      AVE   W                                              09000075000          TWO    STOREY                              2011                 4              $205,000                            $218,940
                      Page    2  of  67                                                                                                                                                                                             1-MEL







                                                                                  SALES         DATA        / DONNÉES              RELATIVES              AUX      VENTES
                      MARKET            REGION           1

                      MELROSE             (402)
                                                                                                                                                                                                                    Time   Adjust   Sale  Price
                      Property   Address                                                     Roll Number          Building   Type                         Sale  Year        Sale  Month          Sale  Price          Prix  de  vente  rajusté
                      Adresse    du  bien                                                    No  du  rôle         Type  de  bâtiment                     Ann.  vente        Mois   vente         Prix vente           en fonction   du  temps
                      309  PANDORA      AVE   W                                              09000028000          ONE   &  1/2 STOREY                        2010                 7              $125,100                            $138,611
                      525  PANDORA      AVE   W                                              09005560500          ONE   STOREY                               2010                10              $182,000                            $200,018
                      629  PANDORA      AVE   W                                              09005548000          ONE   STOREY                               2011                10              $135,000                            $139,320
                      717  PANDORA      AVE   W                                              09005533500          ONE   STOREY                               2010                 7              $186,000                            $206,088
                      735  PANDORA      AVE   W                                              09010381600          BI-LEVEL                                   2010                 2              $205,000                            $233,905
                      212  REGENT     AVE   E                                                09000234000          ONE   STOREY                               2011                 3              $148,000                            $158,952
                      212  REGENT     AVE   E                                                09000234000          ONE   STOREY                               2010                 6              $129,900                            $144,319
                      230  REGENT     AVE   E                                                09000238400          BI-LEVEL                                   2011                 8              $175,000                            $182,700
                      302  REGENT     AVE   E                                                09000219000          ONE   STOREY                               2010                11              $105,000                            $115,080
                      314  REGENT     AVE   E                                                09000221500          ONE   &  1/2 STOREY                        2011                 9              $171,000                            $177,498
                      426  REGENT     AVE   E                                                09000210500          ONE   STOREY                               2011                10              $160,000                            $165,120
                      508  REGENT     AVE   E                                                09000186300          ONE   STOREY                               2010                 8              $165,000                            $182,325
                      556  REGENT     AVE   E                                                09000198000          ONE   STOREY                               2010                 6               $112,000                           $124,432
                      308  REGENT     AVE   W                                                09000305000          ONE   STOREY                               2011                 8              $139,500                            $145,638
                      410  REGENT     AVE   W                                                09000324500          ONE   &  3/4 STOREY                        2011                12               $113,000                           $115,260
                      418  REGENT     AVE   W                                                09000322500          ONE   STOREY                               2010                 3              $142,500                            $161,595
                      500  REGENT     AVE   W                                                09005504500          ONE   &  1/2 STOREY                        2012                 2              $162,200                            $163,660
                      510  REGENT     AVE   W                                                09005503000          ONE   &  1/2 STOREY                        2011                 6              $130,000                            $137,280
                      514  REGENT     AVE   W                                                09005502600          ONE   STOREY                               2010                 6              $100,000                            $111,100
                      600  REGENT     AVE   W                                                09005517500          ONE   STOREY                               2011                11              $170,000                            $174,420
                      716  REGENT     AVE   W                                                09005528500          ONE   STOREY                               2010                 3              $187,300                            $212,398
                      732  REGENT     AVE   W                                                09005525000          ONE   STOREY                               2011                11              $190,900                            $195,863







                      Page    3  of  67                                                                                                                                                                                             1-MEL









                                                                                  SALES         DATA        / DONNÉES              RELATIVES              AUX      VENTES
                      MARKET            REGION           1

                      VICTORIA            WEST        (404)
                                                                                                                                                                                                                    Time   Adjust   Sale  Price
                      Property   Address                                                     Roll Number          Building   Type                         Sale  Year        Sale  Month          Sale  Price          Prix  de  vente  rajusté
                      Adresse    du  bien                                                    No  du  rôle         Type  de  bâtiment                     Ann.  vente        Mois   vente         Prix vente           en fonction   du  temps
                      503  BOND    ST                                                        09000653000          ONE   STOREY                               2010                 6                $50,000                             $55,550
                      506  BOND    ST                                                        09000670500          ONE   STOREY                               2011                 3              $170,500                            $183,117
                      508  BOND    ST                                                        09000671000          ONE   &  1/2 STOREY                        2010                 8              $135,000                            $149,175
                      600  BOND    ST                                                        09000783500          TWO    STOREY                              2011                 4              $125,000                            $133,500
                      610  BOND    ST                                                        09000785500          ONE   &  1/2 STOREY                        2010                 6              $180,500                            $200,536
                      707  BOND    ST                                                        09000881500          ONE   STOREY                               2010                 9              $152,750                            $168,331
                      709  BOND    ST                                                        09000881000          ONE   &  1/2 STOREY                        2010                 8              $150,500                            $166,303
                      800  BOND    ST                                                        09000988000          ONE   &  1/2 STOREY                        2010                 2              $185,100                            $211,199
                      900  BOND    ST                                                        09001090000          ONE   &  1/2 STOREY                        2011                 9              $194,000                            $201,372
                      603  DAY   ST                                                          09000777000          ONE   STOREY                               2010                 5              $146,000                            $163,228
                      803  DAY   ST                                                          09000982500          ONE   STOREY                               2011                10              $182,400                            $188,237
                      909  DAY   ST                                                          09001085000          ONE   STOREY                               2010                 6              $163,000                            $181,093
                      115  HARVARD      AVE   W                                              09000985500          ONE   &  1/2 STOREY                        2011                 7              $186,000                            $195,300
                      210  HARVARD      AVE   W                                              09000892000          ONE   STOREY                               2012                 1              $191,000                            $193,674
                      218  HARVARD      AVE   W                                              09000890000          TWO    STOREY                              2011                 3              $164,900                            $177,103
                      333  HARVARD      AVE   W                                              09001013500          ONE   STOREY                               2011                 5              $175,000                            $185,850

In [9]:
print(pdfinfo[0][0])

                                                                                  SALES         DATA        / DONNÉES              RELATIVES              AUX      VENTES
                      MARKET            REGION           1

                      MELROSE             (402)
                                                                                                                                                                                                                    Time   Adjust   Sale  Price
                      Property   Address                                                     Roll Number          Building   Type                         Sale  Year        Sale  Month          Sale  Price          Prix  de  vente  rajusté
                      Adresse    du  bien                                                    No  du  rôle         Type  de  bâtiment                     Ann.  vente        Mois   vente         Prix vente           en fonction   du  temps
                      417  MELROSE      AVE   W                                              09000310300          BI-LEVEL                                   2010                 1              $212,500                            $244,163
                      417  MELROSE      AVE   W                                              09000310300          BI-LEVEL                                   2011                12              $250,000                            $255,000
                      421  MELROSE      AVE   W                                              09000310500          ONE   &  1/2 STOREY                        2010                 6              $124,000                            $137,764
                      421  MELROSE      AVE   W                                              09000310500          ONE   &  1/2 STOREY                        2011                 4              $179,000                            $191,172
                      429  MELROSE      AVE   W                                              09000311500          ONE   STOREY                               2010                10              $172,000                            $189,028
                      431  MELROSE      AVE   W                                              09000312000          ONE   STOREY                               2010                 8                $90,000                             $99,450
                      436  MELROSE      AVE   W                                              09000017500          ONE   STOREY                               2011                 7              $149,900                            $157,395
                      441  MELROSE      AVE   W                                              09000313500          ONE   STOREY                               2011                 9              $194,500                            $201,891
                      512  MELROSE      AVE   W                                              09005568000          ONE   STOREY                               2010                11              $185,100                            $202,870
                      516  MELROSE      AVE   W                                              09005567500          ONE   STOREY                               2011                 4              $186,350                            $199,022
                      517  MELROSE      AVE   W                                              09005491500          ONE   &  1/2 STOREY                        2010                 1              $144,900                            $166,490
                      523  MELROSE      AVE   W                                              09005492500          ONE   STOREY                               2011                 8              $187,500                            $195,750
                      524  MELROSE      AVE   W                                              09005566000          ONE   STOREY                               2011                 2              $167,000                            $180,360
                      526  MELROSE      AVE   W                                              09005565500          ONE   STOREY                               2011                11              $195,000                            $200,070
                      535  MELROSE      AVE   W                                              09005495000          ONE   &  1/2 STOREY                        2010                 4              $137,000                            $154,262
                      600  MELROSE      AVE   W                                              09005555500          TWO    STOREY                              2012                 3              $195,000                            $195,585
                      608  MELROSE      AVE   W                                              09005554000          TWO    STOREY                              2011                 6              $190,000                            $200,640
                      618  MELROSE      AVE   W                                              09005552500          ONE   STOREY                               2010                 3              $200,000                            $226,800
                      700  MELROSE      AVE   W                                              09005543500          ONE   STOREY                               2011                 8              $246,500                            $257,346
                      223  PANDORA      AVE   E                                              09000102000          ONE   STOREY                               2010                 8              $136,000                            $150,280
                      225  PANDORA      AVE   E                                              09000101500          ONE   STOREY                               2012                 3              $144,000                            $144,432
                      229  PANDORA      AVE   E                                              09000100500          ONE   &  1/2 STOREY                        2010                 7              $151,000                            $167,308
                      309  PANDORA      AVE   E                                              09000116000          ONE   &  3/4 STOREY                        2011                 8              $148,000                            $154,512
                      327  PANDORA      AVE   E                                              09000112500          ONE   &  1/2 STOREY                        2010                 6              $198,000                            $219,978
                      329  PANDORA      AVE   E                                              09010260300          ONE   &  1/2 STOREY                        2010                 5              $157,000                            $175,526
                      333  PANDORA      AVE   E                                              09010260200          BI-LEVEL                                   2010                 7              $185,000                            $204,980
                      401  PANDORA      AVE   E                                              09000129500          ONE   STOREY                               2010                 6                $85,000                             $94,435
                      427  PANDORA      AVE   E                                              09000124600          TWO    STOREY                              2010                 8              $160,000                            $176,800
                      509  PANDORA      AVE   E                                              09000151000          ONE   STOREY                               2010                 6               $118,000                           $131,098
                      513  PANDORA      AVE   E                                              09000149100          TWO    STOREY                              2010                10              $125,000                            $137,375
                      119  PANDORA      AVE   W                                              09000075000          TWO    STOREY                              2011                 4              $205,000                            $218,940
                      Page    2  of  67                                                                                                                                                                                             1-MEL